<tr>
  <td><%= products_storehouse.source_storehouse.name %></td>
  <td><%= products_storehouse.target_storehouse.name %></td>
  <td><%= render products_storehouse.exchange_histories %></td>
  <td><%= products_storehouse.created_at %></td>
</tr>
