<%= form_with  model: [@storehouse, @product] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, id: :storehouse_name %>
  </p><br>

  <p>
    <%= form.submit %>
  </p>

<% end %>
